[Desktop Entry]
Version=0.1
Type=Application
Name=Patacrep Songbook Client
Comment=Build Patacrep LaTeX Songbooks for Guitar Tabs
TryExec=songbook-client
Exec=songbook-client
Icon=songbook-client.png
Terminal=false
Categories=Application;Utility;