Source: songbook-client
Section: text
Priority: optional
Maintainer: Alexandre Dupas <alexandre.dupas@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake (>=2.6.2), libqt4-dev (>= 4.6), libarchive-dev, asciidoc, xmlto
Standards-Version: 3.9.3
Vcs-Git: git://github.com/lohrun/songbook-client.git
Vcs-Browser: https://github.com/lohrun/songbook-client
Homepage: http://www.patacrep.com

Package: songbook-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: lilypond, python, texlive-base, texlive-latex-extra, texlive-lang-french, texlive-fonts-recommended
Description: Client for patacrep songbooks
 The songbook-client is an interface to build
 customized PDF songbooks with lyrics, guitar 
 chords and lilypond sheets from patacrep songbook.
